body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    background-color: rgb(63, 63, 63);
}

.content{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: lightgray;
    border-radius: 15px;
    padding: 30px;
    gap: 10px;
}

.footer{
    margin-top: 30px;
}

.footer-text{
    font-size: larger;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
}

.buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.plus-row{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.row, .plus-row, .non-plus, .plus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.non-plus{
    flex-direction: column;
}

button{
    height: 100%;
    width: 100%;
    border-radius: 5px;    
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(249, 195, 69);
    color: black;
    font-size: large;
    font-weight: 300;
    font-family:'Quicksand', 'Roboto', sans-serif;
    transition: transform .2s;
}

#clear, #clearnum{
    background-color: rgb(81, 0, 112);
    color: white;
}

button:hover{
    filter: brightness(90%);
}

button:active{
    transform: scale(1.1);
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 7px;
    gap: 3px;
    border-width: 2 px;
    border-style: solid;
    background-color: rgb(72, 85, 72);
    height: 70px;
    overflow: hidden;
}

.screen-text{
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}

.result{
    font-size: xx-large;
    height: 32px;
}